* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* common css */

.btn-primary {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  border-radius: 4px;
  background-color: #FD6E0A;
  color: #fff;
  border: 0;
  padding: 18px 35px;
}

/* header and nav */


.mary {
  font-weight: 800;
  font-size: 45px;
}

.span-orange {
  color: #FD6E0A;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}

nav ul {
  display: flex;
  align-items: center;

}

ul li {
  list-style: none;
  margin-right: 51px;

}

/* banner style */
.banner {
  margin: 0px 200px;
  display: flex;
  align-items: center;
}

.banner-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  color: #474747;
}

.banner-sub-title {
  
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
  color: #181818;


}